@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*,*:before, *:after {
    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
}

nav#nav {
    border: none;
    background-color: #003249;
}

a.nav-link {
    font-family: 'Cabin';
    color: #CCDBDC;
    width: 100%;
}

a.nav-link:hover {
    text-decoration: underline;
    color: #80CED7;
}

section#home {
    background-color: #007EA7;
}

section#about {
    background-color: rgb(16, 238, 127);
    font-family: 'Cabin';
    color: rgb(118, 4, 184);
    padding: 50px 100px;
}

button {
    font-family: 'Cabin';
}