/* padding, margin and box sizing reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* changed background color and border size */
#nav.nav {
    border: 5px solid turquoise;
    background-color:black;
}

/* changed font and color */
.nav .nav-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: turquoise;
    width: 100%;
}

/* underlines and changes navigation links color when user cursor hovers over them */
.nav .nav-link:hover {
    text-decoration: underline;
    color: mediumvioletred;
}

/* changed background color */
#home.home {
    background-color: midnightblue;
}

/* changed font and color */
#home {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: fuchsia;
}

/* changed background color, font and color */
#about.about {
    background-color: rgb(16, 238, 127);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(118, 4, 184);
}

/* adjusted padding */
#about p {
    padding: 50px 100px;
}

/* adjusted image width and padding */
img.about-image {
    width: 500px;
    padding: 0px 100px;
}

/* changed font, color and background color */
#contact.contact{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cyan;
    background-color: rgb(250, 7, 250);
}

/* adjusted text alignment and padding */
#contact p {
    text-align: center;
    padding: 25px;
}

/* changed background color */
#contact form.contact-form {
    background-color: darkgray;
}

/* changed font and color */
.contact-form .contact-form-section {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

/* changed font and padding */
footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10%;
}

/* Media Queries */
@media screen and (min-width: 480px) {
    html {
        font-size: 100%;
        line-height: 1.3;
    }
    #nav {
        width: 25%;
    }
    #contact .contact-form {
        width: 300px;
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: 120%;
        line-height: 1.4;
    }
    #nav {
        width: 50%;
    }
    #contact .contact-form {
        width: 600px;
    }
}

@media screen and (min-width: 1080px) {
    html {
        font-size: 130%;
        line-height: 1.5;
    }
    #nav {
        width: 100%;
    }
}